.pixels-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(245, 245, 245);
    width: 100%;
    min-height: 100px;
}
.pixel {
    width: 20px;
    height: 20px;
    margin: 3px;
}
.frame {
    display: flex;
}

button {
    height: 30px;
    min-width: 60px;
    margin: 6px;
}
